@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-foreground antialiased;
}

@media print {
  nav, .no-print {
    display: none !important;
  }
  .print-full {
    width: 100%;
    box-shadow: none !important;
    border: none !important;
  }
}
